* {
  font-family: 'Maven Pro', sans-serif;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-family: 'Patua One', cursive;
  padding-top:20px;
  padding-bottom: 20px;
}

header {
  background-color: #1F4F5E;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 100px;
  border:none;
  border-bottom: #A4C359;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  text-align: left;
}

section {
  padding-top: 0px;
  padding-bottom: 40px;
}

ul {
  list-style: none;
}
 
li {
  padding-bottom: 8px;
}

p {
  padding-bottom: 10px;
}

#hero {
  display: grid;
  height: 100%;
}

#hero hr {
  color:#A4C359;
  background-color: #A4C359;
  height: 4px;
}

#hero img {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

#we-provide {
  color:#1F4F5E;
}

#industries-served {
  background-color: #A4C359;
  color: white;
  display: grid;
  grid-template-columns: 300px 300px;
  grid-column-gap: 20px;
  align-items:center;
  justify-content:center;
}

#industries-served img {
  padding:0px;
  width: 300px;
}

#about {
  color: #1F4F5E;
  display: grid;
  grid-template-columns: 300px 300px;
  grid-column-gap: 20px;
  justify-content:center;
}

#about div p {
  text-align: left;
}

#about img {
  padding:0px;
  width: 300px;
}

#contact {
  background-color: #1F4F5E;
  color: white;
}

#contact h1 {
  color:#A4C359;
}

#contact p {
  font-size: small;
}

footer {
  background-color: #A4C359;
  color: #1F4F5E;
  font-size: small;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 1150px) {
  #industries-served {
    display:inline-block; 
    width: 100%;  
  }

  #industries-served img {
    padding:0px;
    width: 100%;
  }

  #about {
    display: grid;
    grid-template-rows: 500px 500px;
    grid-template-columns: auto;
    grid-column-gap: 20px;
    justify-content:center; 
    grid-template-areas: 
      "about-image"
      "about-text";
  }

  #about-text {
    grid-area: about-text;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 500px;
    padding-bottom: 100px;
  }

  #about-image {
    grid-area: about-image;
  }

  #about img {
    width: 100%;
  }

}
