* {
  font-family: 'Maven Pro', sans-serif;
  font-size: 20pt;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-family: 'Patua One', cursive;
  padding-top:20px;
  padding-bottom: 20px;
  font-size: 35pt;
}

header {
  background-color: #1F4F5E;
  padding-top: 40px;
  padding-bottom: 20px;
  border:none;
  border-bottom: #A4C359;
  border-bottom-width: 10px;
  border-bottom-style: solid;
}

header img{
  width: 400px;
}

section {
  padding-top: 0px;
  padding-bottom: 40px;
}

p {
  padding-bottom: 10px;
}

#hero {
  display: grid;
  height: 100%;
}

#hero hr {
  color:#A4C359;
  background-color: #A4C359;
  height: 10px;
}

#hero img {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

#we-provide {
  color:#1F4F5E;
}

#industries-served {
  background-color: #A4C359;
  color: #1F4F5E;
  display: grid;
  grid-template-columns: 300px 400px;
  grid-column-gap: 20px;
  align-items:center;
  justify-content:center;
}

#industries-served img {
  padding:0px;
  width: 300px;
}

#about {
  color: #1F4F5E;
  display: grid;
  grid-template-columns: 500px 300px;
  grid-column-gap: 20px;
  justify-content:center;
}

#about div p {
  text-align: left;
}

#about img {
  padding:0px;
  width: 300px;
}

#contact {
  background-color: #1F4F5E;
  color: white;
  padding-top: 50px;
}

#contact img{
  width: 400px;
  padding-top: 60px;
}

#contact h1 {
  color:#A4C359;
}

#contact p {
  font-size: 20pt;
  padding-bottom: 50px;
}

footer {
  background-color: #A4C359;
  color: #1F4F5E;
  font-size: 18pt;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}


@media only screen and (max-device-width: 600px) {

  h1{
    font-size: 60pt;
  }

  #industries-served {
    display: block;
    width: 100%;
  }

  #industries-served img {
    width: 100%;
  }

  #about {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "about-image"
      "about-text";
  }

  #about .container-text {
    grid-area: about-text;
    padding-left: 80px;
    padding-right: 80px;
  }

  #about .container-image {
    grid-area: about-image;
  }

  #about img {
    width: 100%;
  }

  #about p {
    padding-bottom: 20px;
  }

}
